body{
    width: 80%;
    margin: auto;
}
#pname{
    text-align: center;
}
hr{
    height: 2px;
    background-color: black;
}
h3{
    width: 100%;
    background-color: gray;
   
}

table{
    width: 100%;
    border-collapse: collapse; text-align: center; border-right: 1px solid white;
}
th{
    background-color: green;
    color: white;

}
table th,td{
    border-bottom: 1px solid gray;
    border-right: 1px solid white;
}
}